@page
@model VAP.Pages.LoginModel

<style>
    form {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    form input[type="text"],
    form input[type="password"] {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    form button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .login-form {
        max-width: 300px;
        margin: auto;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        margin-top: 10px;
    }

    .validation-summary-errors {
        margin-bottom: 20px;
        padding: 10px;
        color: #f00;
    }
</style>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div>
    <partial name="_ValidationSummary" />
</div>


<div class="login-form">
    <h3 style="text-align: center;">Login</h3>
    <form method="post" onsubmit="(e)=>e.preventDefault();">
        <input type="text" name="LoginUsername" placeholder="Username" /><br />
        <input type="password" name="LoginPassword" placeholder="Password" /><br />
        <button type="submit" name="LoginButton">Login</button>
    </form>
    <p style="text-align: center;">
        Don't have an account? <a asp-page="/Signup">Signup</a>
    </p>
</div>